@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter;
    background-color: #000000;
    color: #f0f0f0;
}    

.dif-font{
    font-family: Dancing Script;
}

header{
    padding: 20px 120px;background-image: linear-gradient(to bottom, #000000, #363636, #000000);
}

/* nav styles */

#nav-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-div h6{
    font-size: 2.5rem;
    color: #c53a04;
    font-style: italic;
}

nav{
    font-size: .8rem;
    border: 1px solid #3a3a3a;
    border-radius: 50px;
}

nav ul{
    display: flex;
    margin: 2px;
}

nav ul li{
    list-style: none;
    margin-right: 30px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
}

.primary-color{
    background-color: #aa3803;
    color: white;
    border-radius: 50px;
}

/* banner-style */

#banner{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

#banner>div{
    width: 50%;
}

#banner-content{
    padding-right: 35px;
}

#banner-content h1{
    font-size: 4.5rem;
}

#banner-content p{
    font-size: .7rem;
    color: #c7c7c7;
    line-height: 1.5;
}

#video{
    display: flex;    
    position: relative;
}

#workout{
    position: absolute; 
    top: 25%;
    right: 35%;
    padding: 10px 20px;
    border: 1px solid #383838;
    border-radius: 15px;
    background: #62626229;
    backdrop-filter: blur(8px);
}
#workout h3{
    font-size: 25px;
}
#workout P{
    font-size: 10px;
}


#tutorial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute; 
    bottom: 20%;
    left: 3%;
    padding: 10px 20px;
    border: 1px solid #383838;
    border-radius: 15px;
    background: #62626229;
    backdrop-filter: blur(8px);
}

#round-p{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #c55d20;
    margin-right: 10px;
}

#tutorial>div>h3{
font-size: 20px;
}
#tutorial>div>p{
    font-size: 10px;
}

button{
    padding: 5px 20px;
    border: 1px solid #383838;
    border-radius: 50px;
    background: none;
    color: #ffffff;
}
#btn{
    background-color: #c55d20;
}


/* main section  */
main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* about styles */
.about{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#change{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#change h3, #change p{
    text-align: center;
}

#img-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

#img-item img{
    border-radius: 50%;
}

#img-item p{
    font-size: .7rem;
    color: #a1a1a1;
}